<section id="exporter-info">
	<h4 align="center">New Contract</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<td><label>Shipment Id</label></td>
				<td>{{shipmentId}}</td>
			</tr>
			<tr>
				<td><label>Content Description</label></td>
				<td>80,000 bags of 100KG Nescafe sunrise coffee</td>
			</tr>
			<tr>
				<td><label>Content Value</label></td>
				<td>100,000 USD</td>
			</tr>
			<tr>
				<td><label>Importer Company</label></td>
				<td>Walmart Inc</td>
			</tr>
			<tr>
				<td><label>Freight Company</label></td>
				<td>Maersk</td>
			</tr>
			<tr>
				<td><label>Port Of Entry</label></td>
				<td>Port of NewYork</td>
			</tr>
			<tr>
				<td><label>Customs Amount</label></td>
				<td>1,500 USD</td>
			</tr>
		</table>
		<div class="btn-group">
			<button type="button" class="btn btn-primary"
				style="margin-left: 50px">Approve</button>
			<button type="button" class="btn btn-primary"
				style="margin-left: 20px">Reject</button>
		</div>
	</div>
</section>
<section id="documents-info">
	<h4 align="center">Documents</h4>
	<form name="documentsForm">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>FileName</th>
					<th>View File</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bill of Lading</td>
					<td><button type="button" class="btn btn-warning">View</button></td>
				</tr>
				<tr>
					<td>Insurance</td>
					<td><button type="button" class="btn btn-warning">View</button></td>
				</tr>
			</tbody>
		</table>
	</form>
	<div
		style="display: table-cell; vertical-align: bottom; padding-left: 20px">
		<div
			style="width: 90px; height: 90px; background-color: #00e673; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Letter
				of Credit Approved</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #00e673; border: 1px solid; display: table; vertical-align: top">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Documents
				Uploaded</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Customs
				Approved</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Payment
				Initiated</div>
		</div>
	</div>
</section>
