
<section id="exporter-info">
	<h4 align="center">New Contract</h4>
	<form class="form-horizontal" name="lcForm1">
		<div class="form-group">
			<label class="control-label col-sm-3">Shipment Id</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="shipmentId"
					name="shipmentId">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Content Description</label>
			<div class="col-sm-8">
				<textarea class="form-control" type="text" id="contentDesc"
					name="contentDesc" readonly>{{{contentDesc}}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Content Value</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="contentValue"
					name="contentValue" value="100,000 USD" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Exporter Company</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="importerCompany"
					name="importerCompany" value="Nescafe Coffees India">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Exporter Bank</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="exporterBank"
					name="exporterBank" value="State Bank of India" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Importer Company</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="importerCompany"
					name="importerCompany" value="Walmart Inc" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Importer Bank</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="importerBank"
					name="importerBank" value="WellsFargo Bank" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Freight Company</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="freightCompany"
					name="freightCompany" value="Maersk" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Port Of Loading</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="portOfLoading"
					name="portOfLoading" value="Chennai" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Port Of Entry</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="portOfEntry"
					name="portOfEntry" value="Port of NewYork" readonly>
			</div>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary"
				style="margin-left: 50px">Approve</button>
			<button type="button" class="btn btn-primary"
				style="margin-left: 20px">Reject</button>
		</div>
	</form>
</section>
<section id="documents-info">
	<h4 align="center">Documents</h4>
	<form name="documentsForm">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>FileName</th>
					<th>Upload</th>
					<th>View File</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>Browse <input type="file">
					</td>
					<td><button type="button" class="btn btn-warning">View</button></td>
				</tr>
				<tr>
					<td></td>
					<td>Browse <input type="file">
					</td>
					<td><button type="button" class="btn btn-warning">View</button></td>
				</tr>
			</tbody>
		</table>
	</form>
	<div
		style="display: table-cell; vertical-align: bottom; padding-left: 20px">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Letter
				of Credit Approved</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table; vertical-align: top">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Documents
				Uploaded</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Customs
				Approved</div>
		</div>
	</div>
	<div style="display: table-cell; vertical-align: middle; padding: 10px">
		<i class="fa fa-arrow-right"></i>
	</div>
	<div style="display: table-cell">
		<div
			style="width: 90px; height: 90px; background-color: #ff4d4d; border: 1px solid; display: table;">
			<div
				style="vertical-align: middle; display: table-cell; text-align: center; font-weight: bold">Payment
				Initiated</div>
		</div>
	</div>
</section>
{{#section 'jquery'}}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

<script type="text/javascript">

	$(document).ready(function() {   
	console.log('before checking connected')
		while (!connected){	
		console.log('in while loop');	
			setTimeout(function () {
			console.log('hi')	;
   				alert('HI');
			}, 1000);
		}
		console.log('after while loop')	
		var obj = {
				type : 'fetchLOC',
				lc : {
					shipmentId : '902'
				}
			};
			console.log('fetching LC, sending', obj);
            ws.send(JSON.stringify(obj)); 
	});    
</script>
{{/section}}
